<%= render 'add_food_modal', locals: { recipe: @recipe, foods: @foods } %>
<div>
<h1><%= @recipe.name%></h1>
<section>
  <ul>
    <li>Preparation time: <%=@recipe.prep_time%> hour </li>
    <li>Cooking time: <%=@recipe.prep_time%> hour </li>
    <% if @recipe.public %>
    <li><span>Public</span></li>
    <% else %>
    <li><span>Public</span></li>
    <% end %>
  </ul>
</section>

<section>
  <p><%=@recipe.description%></p>
</section>

<section>
  <div>
    <button>Generate shopping list</button>
    <button>Add ingredient</button>
  </div>  

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% unless @recipe.recipe_foods.empty? %>
  <% @recipe.recipe_foods.each do |food|%>
    <tr>
      <td><%= food.food.name %></td>
      <td><%= food.quantity %></td>
      <td><%= food.quantity*food.food.price %></td>
      <td>
      <%= button_to "Delete", recipe_recipe_food_path(@recipe.id, food.id), :method => :delete %>

      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
</div> 